@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylists

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
    <p>First Name
    @Html.TextBoxFor(model => model.FirstName)</p>
    <p>Last Name
    @Html.TextBoxFor(model => model.LastName)</p>
    <p>Specialty
    @Html.TextBoxFor(model => model.Specialty)</p>
    <br>
    <br>
    <input type="submit" value="Add new stylist" /> 
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>

<button type="button" class="btn btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
