@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylists>;

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
} 

@foreach (Stylists stylist in Model)
{
    <li>@Html.ActionLink(
    $"{stylist.FirstName} {stylist.LastName}", "Details", new { id = stylist.StylistsId })
    @stylist.Specialty 
    </li>
}

<button>@Html.ActionLink("Add new stylists", "Create")</button>
<br>
<br>

<p><button type="button" class="btn btn-warning">@Html.ActionLink("Home", "Index", "Home")</button></p>