@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Clients


<h4>Add a new client</h4>

@using (Html.BeginForm())
{
    <p>First Name 
    @Html.TextBoxFor(model => model.FirstName)</p>

    <p>Last Name
    @Html.TextBoxFor(model => model.LastName)</p>

   



    @Html.LabelFor(model => model.Stylists)
    @Html.DropDownList("StylistsId")
    <br>
    <br>

    <input type="submit" value="Add new client" class="btn btn-default" />

    
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>
