@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Clients>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (Clients client in Model)
{
  <li>@Html.ActionLink($"{client.FirstName} {client.LastName}","Details", new { id = client.ClientsId }) | @client.Stylists.FirstName @client.Stylists.LastName, 
    @client.Stylists.Specialty</li>
  
}




<button>@Html.ActionLink("Add new clients", "Create")</button>
<br>
<br>

<button type="button" class="btn btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>

